In [2]:
#測試有沒有安裝成功
!pip install pymysql

Requirement already satisfied: pymysql in /opt/conda/lib/python3.7/site-packages (0.9.3)

In [5]:
#引用套件
import pymysql




#連線進資料庫

conn = pymysql.connect(host='m10.cc104.mysql',
                    user='root',
                     password='iii',
                    database='mysql',
                     charset='utf8')

#獲取游標
cursor = conn.cursor()

#定義要執行的SQL
#創建TABLE 名字USER

sql="""
CREATE TABLE USER (
id INT auto_increment PRIMARY KEY ,
name CHAR(10) NOT NULL UNIQUE,
age TINYINT NOT NULL
)ENGINE=innodb DEFAULT CHARSET=utf8;
"""
#執行SQL語句
cursor.execute(sql)

#關閉對象
cursor.close()

#關閉資料庫連接
#conn.close()

In [9]:
#插入資料
#引入套件
import pymysql

#連接資料庫

conn = pymysql.connect(host='m10.cc104.mysql',
                    user='root',
                     password='iii',
                    database='mysql',
                     charset='utf8')
#得到一個可執行的對象

cursor = conn.cursor()

sql = "INSERT INTO USER(name, age) VALUES (%s, %s);"
name = "mickfu"
age = 32

#執行語句
cursor.execute(sql, [name, age])

#提交
conn.commit()
cursor.close()
conn.close()

In [11]:
#查詢資料
#引入套件
import pymysql

#連接database

conn = pymysql.connect(host='m10.cc104.mysql',
                    user='root',
                     password='iii',
                    database='mysql',
                     charset='utf8')

#得到一個對象
cur = conn.cursor()

#查詢
#編寫sql查詢語句，user對應TABLE

sql = "SELECT * FROM USER"
try:
    cur.execute(sql)     
    #執行sql
    
    results = cur.fetchall() 
    #獲取紀錄
    print("id","name","age")
    #結果
    for row in results :
        id = row[0]
        name = row[1]
        age = row[2]
        print(id,name,age)
except Exception as e:
    raise e
finally:
    conn.close()
        #關閉

id name age
1 mickfu 32